<!DOCTYPE html>
<html lang="en">
  <head>
   <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application","main", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  </head>

  <body>
  	
    <%= render 'layouts/header' %> 
    <%= yield %>
    <%= render 'layouts/footer' %>
    
    <%#= javascript_include_tag "application" %>
  </body>
</html>